* {
    margin: 0;
    padding: 0;
}


/* Container Section */

.con {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
}


/* Start nav bar Section */

header .container .nav {
    /* display: flex; */
    font-size: 18px;
    /* justify-content: space-between; */
    padding: 20px;
    background-color: white;
}
.nav{
    color: rgba(105, 105, 115, 1);;
}
.nav-mid a{
    opacity: 0.7;
    cursor:pointer;
}
.nav-mid a:hover{
    color:blue;
}
.nav-right a{
    cursor:pointer;
}
.nav-right a:hover{
    color:blue;
}
.nav-left a{
    cursor:pointer;
    text-decoration: none;
    color: rgba(105, 105, 115, 1);
}
.nav-left  a:hover{
    color:blue;
}
.faq-drop-down{
    width:16px;
    outline:unset;
    border:unset;
    cursor:pointer;
    color:rgba(105, 105, 115, 1);
    background-color:white;
}
.faq-drop-down option{
    background-color: blue;
    color:white;
    font-family: roboto;
    padding:30px;
    font-size:20px;
    line-height:1.6;
    border-radius:20px;
}

/* End nav bar Section */



/* Start jouranal Section  */
header .container .journal {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Journal icons  */
.journal-icons {
    column-gap: 10px;
    display: flex;
    justify-content: space-between;
}
.journal-items{
    cursor:pointer;
    margin-top:6px;
}

/* Journal search section */
.jounal-search {
    margin-top: 7px;
    display: flex;
    object-fit: cover;
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;
}

.journal-login,
.journal-register,
.journal-wishlist,
.journal-compare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.journal-logo h1{
    opacity:0.9;
    font-family: 'roboto';
    font-weight: 900;
    font-size: 40px;
    cursor:pointer;
}
.journal-wishlist{
    cursor:pointer;
}

/* journal-login */
.journal-login{
    cursor: pointer;
}
.journal-icons i{
        background-color: rgba(13, 82, 214, 1);;
        color: white;
        padding: 6px;
        border-radius: 50%;
}
.journal-register{
    cursor:pointer;
}


/* Joirnl search section */
.journal #search {
    border: unset;
    height: 100%;
    width: 270px;
    padding-left:4px;
}

.search-all {
    height: 100%;
    color: white;
    background-color: rgba(13, 82, 214, 1);;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}


/* journal search icon */
.journal #mag-glass {
    background-color: rgba(13, 82, 214, 1);;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}


.journal .cart {
    background-color: rgba(13, 82, 214, 1);;
    color: white;
    padding: 9px;
    border-radius: 3px;
}


/* Department Section next to journal Section  */
.department {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgba(13, 82, 214, 1);
    padding: 15px;
}

.department #num {
    padding: 15px;
}
.department #num:hover{
    background-color: white;
    color:black;
}

.department #yellow {
    background-color: yellow;
    padding: 15px;
    color: black;
    cursor:pointer;
}
.department #yellow:hover{
    background-color: white;
    color: black;
}
.department #multilevel,#megamenu,#full-width{
    padding:15px;
}
.department #multilevel:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}
.department #megamenu:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}
.department #full-width:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}
.department #sales {
    position: relative;
    background-color: rgb(229, 124, 4);
    color: white;
    padding: 2px;
    left: 15px;
    bottom: 25px;
    border-radius:2px;
}

.department #new {
    background-color: yellow;
    position: relative;
    color: black;
    bottom: 25px;
    padding: 2px;
    right: 140px;
    border-radius:2px;
}


/* End Department Section  */
/* Start top Section next to Department Section */
.top {
    display: flex;
    margin-bottom: 5px;
}

.common{
    display: flex;
    justify-content: center;
    align-items: center;
    width:90vw;
    margin:auto;
}
.tp {
    height: 450px;
    margin-top: 12px;
    margin-left: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit:cover;
}

.tp img {
    object-fit:cover;
    height: 100%;
    border-radius: 5px;
}

.top-mobile {
    width: 68vw;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#text-over-image {
    position: absolute;
    bottom: 120px;
    left: 45px;
}

#text-over-image #a {
    background-color: rgba(13, 82, 214, 1);;
    color: white;
    padding: 6px;
    border: unset;
    border-radius: 4px;
}

#text-over-image h1 {
    font-size: 43px;
    font-family: 'Source Sans Pro', sans-serif;
}

#text-over-image #b {
    border-radius:4px;
    padding: 10px;
}

/* End top-left section of carousel laptop */

/* Start top right section of watch and computer */
.top-watch-com {
    margin-left: 15px;
}

.watch {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.watch-pic {
    position:relative;
    height: 220px;
    width: 360px;
}

#text-over-watch {
    position: absolute;
    bottom: 62px;
    left: 25px;
}

#text-over-watch a {
    color: rgba(13, 82, 214, 1);
    font-family: 'Source Sans Pro', sans-serif;
}

#text-over-watch h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

#text-over-com {
    position: absolute;
    bottom: 62px;
    left: 20px;
}

#text-over-com a {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(13, 82, 214, 1);;
}

#text-over-com h3 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 5px;
}


/* Start top-right second computer section */
.com-pic {
    position:relative;
    height: 220px;
    width: 360px;
}

.com-pic img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit:cover;
}

.watch-pic img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit:cover;
}

.computer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* End top right section here */
/* Start free shipping section here */

.free-shipping {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #404b62;
    padding: 20px;
}

.free-a {
    display: flex;
    justify-content: space-between;
}

.free-b {
    display: flex;
    justify-content: space-between;
}

.free-ship-content {
    color:white;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left:20px;
    padding-top: 5px;
}

.fs {
    font-size: 30px;
    color: #f0750a;
    border-radius: 50%;
    border: 2px solid rgba(13, 82, 214, 1);;
    padding: 8px;
}

.car,
.direction,
.secure,
.unlimited {
    display: flex;
    justify-content: space-between;
}

.direction {
    padding-left: 155px;
}

.secure {
    padding-right: 155px;
}

/* Start  why buy from us section next to free shipping  */
.middle {
    padding: 40px;
    text-align: center;
}


/* Start mid category section here selective items */
.mid-category {
    font-weight: bold;
    font-family: 'roboto';
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    font-size: 12px;
    padding-bottom: 20px;
}

.mid-category p {
    padding: 8px 15px;
    font-size: 17px;
}

.mid-category #top-categories, #electronics,#beauty,#fashion {
    color:#404040;
    background-color: #BEBEBE;
    border-right:2px solid grey;
    border-radius:2px;
    cursor:pointer;
}
#why-buy-line{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'roboto';
    font-size:22px;
}
#why-buy-line hr{
    width: 102px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #e74a0a;
    border: none;
}
#why-buy-grey-text{
    color:grey;
}

.mid-category .active {
    border-radius:2px;
    color: white!important;
    position:relative;
    cursor:pointer;
    background-color: rgba(13, 82, 214, 1)!important;
}

.mid-category .active::after {
    transform: rotate(45deg);
    left:34%;
    top:27px;
    content: '';
    height: 17px;
    width: 17px;
    z-index: 10;
    position: absolute;
    display: block;
    background-color: rgba(13, 82, 214, 1);;
}

#top-category {
    padding: 8px;
    color: white;
    background-color: blue;
}

.trans {
    padding: 8px;
    background-color: #D3D3D3;
}


/* Start caraousel section here */
.caraousel-collections {
    padding: 20px;
}
.caraousel-collections  .owl-nav{
    display:none;
}
.caraousel-collections  .owl-dots{
margin-top:10px;
}

.cm {
    object-fit:cover;
    height: 280px;
    border-radius: 4px;
}
#feature-category-grey-text{
    color:grey;
}
.features-card .card-title{
    font-size:20px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}
.feature-cart{
    align-items: center;
    display: flex;
    font-size:20px;
    justify-content: space-between;
}
.features-card .card-body a{
    color: grey;
    font-size: 20px;
}
/* .features-card{
    background-color: white;
} */

/* start feature product  section here */
#feature-line{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#feature-line h1{
font-family:'roboto';
font-size:29px;
}
#feature-line hr{
    width: 102px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #e74a0a;
    border: none;
}
.feature-product {
    text-align: center;
    background-color: #bab9b975;
    padding: 30px;
}
#feature-product-line{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
#feature-product-line h1{
    font-family: 'roboto';
    font-size:29px;
}
#feature-product-line hr{
    width: 102px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1.3px;
    background-color: #e74a0a;
    border: none;
}
#feature-product-grey-text{
color:grey;
}
#features-card .owl-dots{
    margin-top:10px;
}

#features-card .owl-nav{
    display:none;
}
.feature-pt {
    font-weight: bold;
    font-family: 'roboto';
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding-bottom: 20px;
    background-color: #bab9b975;
}

.feature-pt .active {
    background-color:  rgba(13, 82, 214, 1) !important;
    color: white !important;
    position:relative;
}

.feature-pt .active::after {
    transform: rotate(45deg);
    left: 34%;
    content: '';
    height: 17px;
    width: 17px;
    z-index: 10;
    position: absolute;
    background-color: rgba(13, 82, 214, 1);;
    display: block;
}

.feature-pt #featured, #latests,#bestseller,#specials{
    color:#404040;
    background-color: #BEBEBE;
    cursor:pointer;
}

.feature-pt p,
.feature-pt .featured {
    padding: 10px 20px;
    border-right:2px solid grey;
    border-radius:2px;
    cursor:pointer;
}

/* Start carousel-cards section next to feature product section */
.carousel-cards {
    padding: 40px;
    background-color: #bab9b975;
}
#carousel-card .owl-nav{
display:none;
}
.carousel-cards .card-title{
    font-size:26px;
    padding-left:15px;
    padding-top:12px;
    font-family: 'Source Sans Pro', sans-serif;
}
#carousel-card .owl-dots{
    margin-top:19px;
}
.carousel-cards .card{
    margin-left:auto !important;
    margin-top:auto !important;
    margin-bottom:auto !important;
    margin-right:auto !important;
}

.card-img-top {
    padding:10px;
    height: 220px;
    width: 288px;
    position:relative;
}
.card-line{
    position:absolute;
    background-color: blue;
    color: white;
    padding: 5px;
    width: 174px;
    font-family: roboto;
    font-size: 16px;
    text-align: center;
    top: 32px;
    transform: rotate(-45deg);
    left: -42px;
}
.card-sticker{
    position:absolute;
        background-color: red;
        color: white;
        font-family: roboto;
        padding: 6px;
        width: 40px;
        text-align: center;
        border-radius: 4px;
        top: 10px;
        left: 250px;
}
.card-img-top img {
    object-fit:cover;
    height: 100%;
    width: 100%;
}
.card-img-top img:hover{
    opacity:0.7;
}

.features-card .card {
    padding: 30px;
    border: solid grey 1px;
    width:200px;
    background-color:	#F5F5F5;
    border-radius: 8px;
}
.card-grey-line{
        background-color: #dbe3e983;
        color:grey;
        padding:5px;
        display: flex;
        justify-content: space-between;
        padding-left:0px!important;
}
.card-grey-line #ericson{
    padding-left:10px;
    font-size:20px;
}
.card-grey-line #model{
    padding-right:10px;
    font-size:20px;
}
.carousel-cards .card{
    border: solid grey 0.5px;
    width:310px;
    background-color:#F5F5F5;
    border-radius:5px;
    overflow:hidden;
}
.carousel-cards .card button {
    padding: 9px;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    background-color: rgba(13, 82, 214, 1);;
   }
.carousel-cards .card-body #carousel-price{
    padding-left: 18px;
    color: grey;
    padding-top:10px;
    font-size: 22px;
    padding-top:10px;
}
.carousel-cards .last-carousel-greyline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size:18px;
    padding-bottom:10px;
    background-color:#dbe3e983;
    margin-top:10px;
    color:black;
}
.carousel-cards .last-carousel-greyline #green{
    color:green;
}
.carousel-cards .last-carousel-greyline #red{
    color: red;
}
.carousel-addcart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    margin-top:18px;
    margin-bottom:10px;
}
.carousel-addcart #carousel-heart{
    padding-right:18px;
}
.carousel-addcart input{
    width:40px;
    height:30px;
    font-size:18px;
    border-radius:3px;
    padding-left:5px;
}
/* button next to feature section */
.button-product {
    text-align: center;
    padding: 25px;
}

.button-product button {
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 5%;
}


.features-card {
    padding: 40px;
}
.features-card .card{
    margin:auto !important;
}
.features-card .card-body{
    padding-top:20px;
}
.features-card button{
    text-transform: uppercase;
    background-color: rgba(13, 82, 214, 1);;
    color:white;
    padding:9px;
    border-radius: 7px;
}
.card-img-bottom {
    height: 200px;
    width: 200px;
    object-fit:cover;
    border-radius:6px;
    position:relative;
}
.card-img-bottom img{
    height:100%;
    width:100%;
}
.card-new{
    position:absolute;
    background-color: blue;
    color:white;
    padding:5px;
    width:40px;
    font-family:roboto;
    font-size: 16px;
    border-radius: 4px;
    text-align:center;
    left:160px;
    top:8px;
}

.feature-top-content {
    text-align: center;
    padding-top: 20px;
}


/* Start feature category scetion here */
.feature-category {
    background-color: #bab9b9b6;
}


/* Start shop by  brand section here next to feature   category section */
.shop-brand {
    background-color: #F1F1F1;
}

.shop-brand h1 {
    font-family:'roboto';
    font-size:36px;
    padding-top: 30px;
    text-align: center;
}
.shop-brand hr{
    width: 102px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #e74a0a;
    border: none;
}
#shop-brand-heading{
    position:relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* Start section of black  and white images next to shop by brand section here */

.bw {
    height: 142px;
    width: 175px;
    border: solid grey 1px;
    border-radius: 8px;
}

.bw img {
    height: 100%;
    width: 100%;
}

.bw-images {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
/* Start gallery modules section here next to black and white images section */

.gallery-modules {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #404b62;
}

.gallery-content {
    text-align: center;
}

.gallery-content h1{
    color: rgba(230, 230, 230, 1);
    font-size:30px;
    font-family: 'Source Sans Pro', sans-serif;
}
.gallery-content hr{
    width: 102px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #e74a0a;
    border: none;
}
#improve-gallery-line{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}
.gallery-pics {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.gallery-content a{
    color:rgba(139, 145, 152, 1);
}

.gp {
    height: 150px;
    width: 185px;
    padding: 10px;
    border-radius: 15px;
    object-fit:cover;
}

/* Start from our blog section here */

.blog-content {
    padding-top: 28px;
    padding-bottom: 40px;
    text-align: center;
}
.blog-content h1{
    color: black;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
}
.blog-content p{
    color:grey;
}
.blog-content hr{
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1.3px;
    background-color: #e74a0a;
    border: none;

}

.blog-cards {
    padding-left: 20px;
}
.blog-cards .blog{
    margin:auto;
    background-color: white;
    padding: 14px;
    width: 24rem;
    border-radius: 5px;
}
.blog-card {
    object-fit:cover;
    height: 300px;
    border-radius:  6px;
    position:relative;
}
.blog-card img{
    height:100%;
    width:100%;
}

.from-blog {
    background-color: #bab9b975;
}
.blog-selector .active{
    background-color: rgba(13, 82, 214, 1)!important;
    color: white !important;
    position:relative;
    font-family: 'roboto';
    font-size: 16px;
    padding:12px;
    font-weight: bold;
    border-radius:2px;
}
.from-blog #latest-post,#most-rated{
    color:#404040;
    background-color: #BEBEBE;
    font-family: 'roboto';
    font-size: 16px;
    font-weight: bold;
    padding:12px;
    border-radius:2px;
}
.from-blog .owl-nav{
    display:none;
}
.blog-selector a{
    border-radius: 2px;
}
.from-blog .owl-dots{
    margin-top:17px;
}
.blog-selector {
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    position: relative;
}
.from-blog p{
    padding:10px;
}
.from-blog .card-text{
    padding-left:0px!important;
    text-align:center;
}
.blog-selector .active::after{
    height:17px;
    width:17px;
    content:'';
    z-index: 4;
    transform: rotate(45deg);
    position: absolute;
    background-color: rgba(13, 82, 214, 1);;
    top:31px;
    right:54%;
}
#from-blog-line{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
}
.blog .card-title{
         margin-top:8px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.blog .card-body a{
    display:flex;
    justify-content:center;
    align-items: center;
}
.blog-admin-row{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-left:90px;
    padding-right:70px;
    column-gap:12px;
    position:absolute;
    bottom:-4px;
}
/* Start people saying section here next to from our blog section */
.people-saying {
    text-align: center;
    padding-top: 40px;
}
.people-saying h1{
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}
.people-saying hr{
    width: 102px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #e74a0a;
    border: none;
}
#why-people-say{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* quote-carousel */
.quote-carousel {
    padding-top: 50px;
}
.quotes .card-title{
    font-size:26px;
    font-weight:bold;
    font-family: 'Source Sans Pro', sans-serif;
}
.quote-carousel .quotes{
    margin:auto;
}
.quote-carousel .owl-nav{
    display:none;
}
.quote-carousel .owl-dots{
    margin-top:20px;
}
.qi {
    width: 100px;
    height: 100px;
    margin: auto;
}

.qi img {
    width: 100%;
    height: 100%;
}
/* Start most viewed section here */

.most-viewed h2 {
    padding-top: 40px;
    color: white;
}

.most-viewed {
    background-color: #404b62;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}
.most-viewed hr{
    width: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #e74a0a;
    border: none;
    margin-left:53px;
}

.mv {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.view {
    height: 100px;
    width: 155px;
}

.view img {
    object-fit:cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.sl {
    display: flex;
    width: 20vw;
    background-color: white;
    border-radius: 8px;
}

.sl h4 {
    padding-top: 14px;
    padding-left:10px;
}
.sl a{
        padding-right: 50px;
        padding-left: 28px;
        color:grey;
        display: flex;
        justify-content: space-between;
        /* column-gap: 65px; */
        padding-top: 17px;
}
/* Social section icons section next to most viewed section */

.social-icons {
    padding: 20px;
    color: #00008B;
    background-color: #bab9b975;
    text-align: center;
    font-size: 40px;
}
.social-icons i {
        background-color: rgba(13, 82, 214, 1);;
        color: white;
        padding: 9px;
        border-radius:50%;
        font-size:36px;
}



/*Most last section */
.footer-last {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.footer-last h2{
    font-family:'roboto';
    font-size:25px;
}

.footer-last ul li {
    font-size:19px;
    list-style: none;
    color: blue;
}
.footer-last hr{
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #e74a0a;
    border: none;
}

.newsletter input {
    margin: 5px;
    padding: 6px;
    border-radius: 5px;
}

.about-us,.customer-service,.my-account{
    width:20vw;
    border-right:2px solid grey;
}
.enter-mail{
    margin-top:15px;
    position:relative;
}
.enter-mail input{
        width: 178px;
        height: 22px;    
}
.enter-mail button{
    position:absolute;
    color:white;
    background-color: rgba(13, 82, 214, 1);
    padding: 9px;
    border-radius: 2px;
    left: 129px;
    top: 5px;
}


/* Copyright Section here */

.copyright {
    display:flex;
    justify-content:space-between;
    background-color: #404b62;
    padding: 20px;
    font-family:'roboto';
    color:white;
    font-size: 21px;
}
.copyright-img{
    height:50px;
    width:450px;
}
.copyright-img img{
    width:100%;
    height:100%;
}
.copyright-text{
    padding-top:15px;
}
.footer-last ul li {
    padding: 8px;
}

.footer-last ul li a {
    text-decoration: none;
}
.footer-last ul li a:hover{
    color: #ff5349;
}

.phone-nav {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
}

/*  show cart section styling  */
.search-container{
    position:relative;
}
.search-pagination{
        left: 620px;
        position: absolute;
        bottom: -6px;
    
}
.shop-block{
    background-color: wheat;
}
.shop-block button{
    text-transform: uppercase;
    background-color: blue;
    color:white;
    padding:4px;
    border-radius: 7px;
}

.shop-block .item{
    margin:25px;
    padding-bottom:30px;
}

.show-cart{
    flex-wrap: wrap;
    background-color:#bab9b975;
    justify-content: space-between;
    padding-left:55px;
    padding-right:55px;
}
.show-cart .item{
    margin:10px;
}
.show-cart .card{
    border:1px solid grey;
    border-radius: 4px;
    background-color:white;
    /* margin-left:18px; */
    /* margin-top:20px; */
}
.show-cart input{
    height:30px;
    width:30px;
}
.show-cart .card-img-bottom{
    width:200px;
    height:180px;
}
.show-cart .card img{
    object-fit:cover;
    border-radius: 6px;
}
.show-cart button{
    padding: 9px;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    background-color: red;
}
.show-cart .card .card-title{
    padding-left:20px;
    padding-top:16px;
    font-family: 'Source Sans Pro', sans-serif;
}
.show-cart .card #carousel-price{
    color:grey;
    font-size:20px;
    padding-left:20px;
    padding-top:10px;
}
.show-cart #green {
    color:green;
}
.show-cart #red{
    color:red;
}
.show-cart .last-carousel-greyline{
    background-color:#dbe3e983;
    color: black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}
/* wishlist Styling */
#wishlist{
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #bab9b975;
    padding-left:55px;
    padding-right:55px;
    /* margin:10px; */
}
#wishlist .item{
    margin:10px;
}
#wishlist .card .card-title{
    padding-left:20px;
    padding-top:16px;
    font-family: 'Source Sans Pro', sans-serif;
}
#wishlist .card{
    background-color: white;
    border-radius:3px;
    border:2px solid grey;
}
#wishlist .card #carousel-price{
    color:grey;
    font-size:20px;
    padding-left:20px;
    padding-top:10px;
}
#wishlist button{
    padding: 9px;
    border-radius: 7px;
    color: white;
    text-transform: uppercase;
    background-color: rgba(13, 82, 214, 1);
}
#wishlist .last-carousel-greyline{
    background-color:#dbe3e983;
    color: black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
}
#wishlist .card #green {
    color:green;
}
#wishlist .card #red{
    color:red;
}
/* Break points section here */


/* phone nav bar section */
@media screen and (min-width:980px) {
    .phone-nav {
        display: none;
    }

    .nav {
        display: block;
    }

    .phone-journal {
        display: none;
    }

    .journal {
        display: block;
    }
}

@media screen and (max-width:980px) {
    .phone-nav {
        display: flex;
        padding-left: 50px;
        padding-right: 50px;
    }
.phn-nav-left{
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
}
.phn-nav-right{
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
}
    .nav {
        display: none !important;
    }

    .phone-journal {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
    }

    .journal {
        display: none !important;
    }
    .phn-journal-content{
        display:flex;
        justify-content: space-between;
        column-gap:18px;
    }
    .free-shipping{
        font-size:10px;
    }
}
@media screen and (max-width:775px){
    .view{
        width:100px;
        height:70px;
    }
}
@media screen and (max-width:690px){
    .quotes .card-text{
        font-size:12px;
    }
}
@media screen and (max-width:1048px){
    .about-us,.customer-service,.my-account{
        border-right: unset !important;
        width: unset !important;
    }
}

/* department section here */
@media screen and (max-width:980px) {
    .department {
        display: none !important;
    }
    .sl{
        flex-direction: column;
    }
}

@media screen and (max-width:900px) {
    .free-shipping {
        flex-direction: column;
    }

    .free-a,
    .free-b {
        justify-content: center;
    }
    .free-a{
        padding-bottom:12px;
    }
}
@media screen and (max-width:468px){
    .sl{
        display: flex;
    }
}
@media screen and (max-width: 372px){
.bw {
    height: 45px !important;
    width: 45px !important;
}
}

@media screen and (max-width:395px){
    .free-a,.free-b{
        flex-direction: column;
        align-items:center;
    }
    .direction{
        padding-left:0px;
    }
    .secure{
        padding-right:0px;
    }
}
@media screen and (max-width:673px){
    .watch-pic,.com-pic{
      width: 520px;
    }
}
@media screen and (max-width:900px){
    .free-shipping .con{
        flex-direction:column !important;
    }
}


/* top section of mobile watch computer */

@media screen and (max-width:1126px) {
    .top {
        flex-direction: column;
    }

    .top-mobile {
        width: 90vw;
        margin:auto;
    }

    .top-watch-com {
        display: flex;
        padding-bottom:15px;
        justify-content: space-around;
        width:100vw;
        /* margin:auto; */
    }
    .watch-pic{
        width:38vw;
        margin:auto;
    }
    .com-pic{
        width:38vw;
        margin:auto;
    }
}

@media screen and (max-width:684px) {
    .top-watch-com {
        flex-direction: column;
    }

    .watch {
        justify-content: center;
    }
    .watch-pic{
        width:80vw;
    }
    .com-pic{
        width:80vw;
    }

    .computer {
        justify-content: center;
    }
}


/* last footer section */

@media screen and (max-width:700px) {
    .footer-last {
        flex-direction: column !important;
    }
}

@media screen and (max-width:1100px) {
    .shop-brand {
        font-size: 20px;
    }

    .bw {
        height: 100px;
        width: 100px;
    }
}



/* black and white image  section breakpoints  */
@media screen and (max-width:700px) {
    .bw {
        height: 70px;
        width: 70px;
    }
}

@media screen and (max-width:1030px) {
    .gp {
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width:558px) {
    .gp {
        width: 58px;
        height: 58px;
    }
}
@media screen and (max-width:435px){
    .gp{
        width:30px;
        height:30px;
    }
}
@media screen and (max-width:474px){
    #mview{
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        font-size:5px;
    }
    #mview .sl{
        margin-top: 5px;
        margin-bottom:5px;
    }
    .sl h4 {
        font-size: 8px !important;
    }
}
@media screen and (max-width:448px){
    #mview .view{
        height:50px;
        width:50px;
    }
}
@media screen and (max-width:683px){
    .sl h4{
        font-size:12px;
    }
}
@media screen and (max-width: 457px){
    .footer-last .con{
        flex-direction: column;
    }
}

/* mid category */
@media screen and(max-width:472px) {
    .mid-category {
        font-size: 8px;
    }

    .feature-pt {
        font-size: 8px;
    }
}

@media screen and(max-width:1019px) {
    .gp {
        height: 90px;
        width: 90px;
    }
}
@media screen and (max-width:578px){
    .mid-category,.feature-pt{
        flex-direction: column;
    }
    .mid-category p{
        width:85vw;
        margin:auto;
    }
}
@media screen and (max-width:460px){
    .phone-nav,.phone-journal{
        font-size:10px;
    }
}

/* Testing */
.top-mobile {
    position: relative;
}

.top-mobile .owl-theme .owl-dots {
    position: absolute;
    bottom: 79px;
    left: 47px;
}
.top-mobile .owl-nav{
    display: none;
}

/* Pagination links */
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {
    background-color: #ddd;
}